.Logo {
  width: 10%; /* Adjust the width as a percentage of the container */
  max-width: 100px; /* Limit the maximum width to maintain visibility */
  height: auto; /* Maintain aspect ratio */
  background-image: url("./Image/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .Logo {
    width: 20%; /* Adjust width for smaller screens */
    max-width: 80px; /* Limit the maximum width for smaller screens */
  }
}

